@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body, html {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #E9E7EA; /* Husky White for the background */
}

#popup-content {
    color: #050A18; /* Husky Dark Gray for text */
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #dbbfea; /* Husky Gray */
}

header h1 {
    color: #050A18; /* Husky White for the text */
}

main {
    padding: 5px;
}

main h2 {
    color: #0F1027; /* Husky Dark Gray */
    margin-bottom: 10px;
}

#mascot-container img {
    display: block;
    margin: 0 auto;
    width: 300px; /* Adjust as needed */
    height: auto;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.action-button {
    background-color: #727282; /* Button Gray */
    color: #FDFFFD; /* Husky Dark Gray for text */
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold; /* Makes the text bold */
    border-radius: 20px; /* Rounded corners for buttons */
    box-shadow: 6px 6px 8px #1F2234; /* Shadow effect */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s;;
}

.action-button:hover {
    background-color: #A885D8; /* Bandana Light Purple for hover state */
   /* color: #727282; /* Husky White */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Slightly larger shadow for hover state */
    transform: translateY(-2px); /* Slightly raise the button when hovered */
}

#yes {
    /* No additional specific styles needed */
}

#no {
    /* No additional specific styles needed */
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    color: #FFFFFF; /* Husky White for icon buttons */
}
